/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.main-section .img-section {
    width: 546px;
}

.main-section .text-section {
    width: 503px;

}

.main-section .text-section p {
    color: #6C6C6C;


}