/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}





.carousel-item img .images-color {
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.7);
}